@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Alex+Brush&family=Alfa+Slab+One&family=Allura&family=Archivo+Black&family=Barlow+Condensed:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400;1,500&family=Bebas+Neue&family=Black+Ops+One&family=Borel&family=Bungee&family=Caveat+Brush&family=Cedarville+Cursive&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Changa:wght@200;300;400;500;600;700;800&family=Concert+One&family=Courgette&family=Creepster&family=Great+Vibes&family=Gruppo&family=Handjet:wght@100;200;300;400;700&family=Imbue:opsz,wght@10..100,200;10..100,300;10..100,400;10..100,500;10..100,600;10..100,700;10..100,800&family=Kalam:wght@300;400;700&family=Kaushan+Script&family=Lobster&family=Lobster+Two&family=Macondo&family=Merienda:wght@300&family=Mitr:wght@200;400;500;600;700&family=Montserrat:ital,wght@0,300;0,600;0,700;0,800;0,900;1,700&family=Orbitron&family=Pacifico&family=Passion+One&family=Pathway+Gothic+One&family=Patrick+Hand&family=Permanent+Marker&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&family=Press+Start+2P&family=Questrial&family=Recursive:wght@300;400;500;600;700;800&family=Red+Hat+Display:ital,wght@0,300;0,400;0,600;0,700;1,400;1,500;1,600;1,700&family=Righteous&family=Roboto+Mono:wght@200;400;500;600;700&family=Roboto+Slab:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500&family=Rubik+Iso&family=Rubik+Mono+One&family=Russo+One&family=Sacramento&family=Saira:wght@100;200;300&family=Satisfy&family=Signika:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&family=Staatliches&family=Stint+Ultra+Expanded&family=Titan+One&family=Wix+Madefor+Display:wght@400;500;600;700;800&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&family=Yellowtail&family=Zeyada&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #150e28;
}
header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 3;
    background: #150e28;
}
.firstsec{
    background: #150e28;
    position: relative;
}
.b a{
    text-decoration: none;
}
.b{
    background: #150e28;
    display: flex;
    padding-block: 1.6rem;
    width: 84%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.b svg{
    display: none;
}
.b h2{
    color: white;
    font-family: 'Clash Display', sans-serif;
}
.b h2 span{
    color: #d434fe;
}
nav{
    display: flex;
    gap: 5rem;
    align-items: center;
    z-index: 2;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    padding: 0 1.5rem;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: white;
    cursor: pointer;
}
button{
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 3px;
    background-image: linear-gradient(to right,#FE34B9, #D434FE, #903AFF);
    z-index: 2;
}
button a{
    text-decoration: none;
    color: white;
}
.light{
    width: 100%;
    max-width: 600px;
    min-height: 540px;
    top: 21.8%;
    right: -0.1%;
}
h3{
    text-align: right;
    color: white;
    padding: 1.3rem 4rem 1rem 0;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 32px;
    border-top: 0.001px solid #ffffff2e;
}
.c{
    padding: 2rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: right;
}
.c .d{
    flex-basis: 80%;
    padding: 0 0 3rem 8rem;
    z-index: 1;
}
.c img{
    height: 570px;
    width: 100%;
    flex-basis: 80%;
}
.d h1{
    color: white;
    font-size: 80px;
    font-family: 'Clash Display', sans-serif;
}
.d .main-ig{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}
.main-ig img{
    width: 100%;
    max-width: 90px;
    height: 90px;
    position: absolute;
    left: 50%;
}
.main-ig .second-img{
    left: 57%;
    height: 50px;
    max-width: 50px;
}
.d span{
    color: #d434fe;
}
.d p{
    color: white;
    padding: 0.1rem 0 0;
    font-size: 15.6px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.d button{
    margin: 2.5rem 0 0 0;
}
.f{
    display: flex;
    gap: 1rem;
    padding: 4rem 0 0;
    flex-basis: 60%;
}
.f p{
    font-size: 12px;
}
.f span{
    font-size: 50px;
    color: white;
    font-family: 'Saira', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.abs{
    position: absolute;
}
.ve-one{
    width: 16px;
    top: 7%;
    left: 14%;
}
.ve-two{
    width: 16px;
    top: 18%;
    right: 44%;
}
.ve-five{
    width: 16px;
    top: 74%;
    left: 32%;
}
.ig1{
    top: 0%;
    opacity: 0.7;
    background-blend-mode: darken;
}
.ig2{
    width: 25rem;
    right: 0;
    top: 0;
    opacity: 0.7;
}
.ig3{
    left: 46%;
    top: 15%;
}
.ig4{
    width: 12rem;
    right: 6%;
    top: 9%;
}
.ig5{
    width: 560px;
    height: 530px;
    right: 2.5%;
    top: 14%;
}
@media (max-width:840px) {
    nav{
        flex-direction: column;
        align-items: normal;
        padding-inline: 40px;
        padding-block: 40px;
        gap: 32px;
        position: absolute;
        top: -440%;
        right: 0;
        background: #150e28;
        width: 76%;
        transition: all 1s;
    }
    nav ul{
        flex-direction: column;
        gap: 12px;
    }
    .b svg{
        display: block;
    }
    h3{
        font-size: 13px;
        padding: 0.7rem 0.7rem 0 0;
    }
    .c{
        flex-direction: column;
        row-gap: 2rem;
    }
    .c .d{
        padding: 0 2rem 0;
        width: 80%;
        text-align: center;
    }
    .d h1{
        font-size: 29px;
    }
    .d button{
        margin: 1.5rem 0 0 0;
    }
    .d .main-ig{
        column-gap: 0.2rem;
        justify-content: center;
    }
    .main-ig img{
        position: relative;
        height: 40px;
        left: 0;
        max-width: 50px;
    }
    .main-ig .second-img{
        left: 0;
        max-width: 30px;
        height: 30px;
    }
    .d p{
        font-size: 9px;
        line-height: 0.8rem;
    }
    .f{
        padding: 2.5rem 0 0;
        text-align: center;
        width: 59%;
        margin: auto;
    }
    .f span{
        font-size: 35px;
    }
    .e{
        height: 350px;
        width: 350px;
        top: 57%;
        left: 7%;
    }
    .ve-one{
        width: 8px;
        top: 7%;
        left: 32%;
    }
    .ve-two{
        width: 8px;
        top: 7%;
        right: 16%;
    }
    .ve-five{
        width: 8px;
        top: 31%;
        right: 26%;
    }
    .ig3{
        width: 1.2rem;
        left: 70%;
        top: 6.5%;
    }
    .ig4{
        width: 5rem;
        right: 4%;
        top: 4%;
    }
    .ig5{
        width: 310px;
        height: 305px;
        right: 16%;
        top: 50%;
    }
    .ig1{
        width: 30rem;
        top: 10%;
        right: 1%;
        opacity: 0.6;
    }
    .ig2{
        width: 25rem;
        top: 20%;
        right: 0;
        opacity: 0.6;
    }
}
.secondsec{
    background-color: #150e28;
    border-top: 0.1px solid #ffffff2e;
}
.sec{
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    column-gap: 6rem;
    display: flex;
    align-items: center;
}
.sec img{
    flex-basis: 40%;
    width: 100%;
}
.secondsec-col{
    flex-basis: 80%;
}
h4{
    font-size: 30px;
    font-family: 'Clash Display', sans-serif;
    color: white;
}
p{
    font-size: 12px;
    padding: 1.3rem 0 0;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: white;
}
h4 span{
    color: #D434FE;
}
@media (max-width:700px) {
    .sec{
        flex-direction: column;
        row-gap: 2.5rem;
    }
    .secondsec-col{
        text-align: center;
    }
}
.thirdsec{
    background-color: #150e28;
    border-top: 0.1px solid #ffffff2e;
}
.thirdsec-col{
    flex-basis: 80%;
}
.thirdsec img{
    max-width: 500px;
}
@media (max-width: 700px) {
    .thirdsec .sec{
        flex-direction: column-reverse;
    }
    .thirdsec-col{
        text-align: center;
    }
}
.fourthsec{
    background-color: #150e28;
    border-top: 0.1px solid #ffffff2e;
}
.fourthsec-col, .fourthsec-col p{
    flex-basis: 80%;
    width: 100%;
    padding: 0.7rem 0 0;
}
p span{
    color: #ff26b9;
}
.fourthsec img{
    max-width: 480px;
}
.fourthsec-col button{
    margin: 2rem 0 0 0;
}
@media (max-width: 700px) {
    .fourthsec-col{
        text-align: center;
    }
}
.fifthsec{
    background-color: #150e28;
    border-top: 0.1px solid #ffffff2e;
}
.fifthsec-col{
    flex-basis: 80%;
}
.fifthsec img{
    width: 60%;
    max-width: 560px;
}
.questions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #D434FE;
    padding: 1rem 0 0.5rem 0;
}
.questions span{
    font-size: 18px;
    color: #D434FE;
}
@media (max-width: 700px) {
    .questions{
        gap: 6rem;
    }
    .fifthsec-col p{
        font-size: 11px;
        line-height: 0.9rem;
    }
    .fifthsec img{
        width: 100%;
    }
}
.sixth-sec{
    background-color: #150e28;
    border-top: 0.1px solid #ffffff2e;
    font-family: 'Montserrat', sans-serif;
}
.timeline{
    text-align: center;
    padding-top: 4rem;
    line-height: 1rem;
}
.grid-content1{
    display: grid;
    column-gap: 30px;
    width: 89%;
    margin: auto;
    padding-top: 4rem;
    grid-template-columns: 1fr auto 1fr;
    align-items: end;
    color: white;
}
.content-left p{
    font-size: 16px;
}
.content-right p{
    font-size: 16px;
}
.grid-content2, .grid-content4, .grid-content6{
    display: grid;
    text-align: right;
    width: 90%;
    margin: auto;
    column-gap: 30px;
    padding-top: 0.5rem;
    grid-template-columns: 1fr auto 1fr;
    align-items: end;
    color: white;
}
.grid-content6{
    padding-bottom: 5rem;
}
.grid-content3, .grid-content5{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 30px;
    width: 90%;
    margin: auto;
    align-items: end;
    padding-top: 0.5rem;
    color: white;
}
.content-right{
    display: grid;
    text-align: right;
    row-gap: 0.1rem;
}
.content-left{
    display: grid;
    text-align: left;
    row-gap: 0.1rem;
}
span p{
    text-align: right;
    color: blueviolet;
    font-weight: 700;
}
.middle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.line{
    background-color: blueviolet;
    width: 0.3rem;
    height: 7rem;
    margin: 0 0 0.4rem 0;
}
.lines{
    background-color: blueviolet;
    width: 0.3rem;
    height: 4rem;
    margin: 0 0 0.4rem 0;
}
.circle p{
    background-color: blueviolet;
    border-radius: 100px;
    padding: 0.5rem;
    width: 1.4rem;
    text-align: center;
}
span{
    color: blueviolet;
    font-weight: 700;
}
.grid-mobile1, .grid-mobile2, .grid-mobile3, .grid-mobile4, .grid-mobile5, .grid-mobile6{
    display: none;
}
@media (max-width: 700px) {
    .grid-content1, .grid-content2, .grid-content3, .grid-content4, .grid-content5, .grid-content6{
        display: none;
    }
    .timeline, .timeline p{
        line-height: 0.8rem;
    }
    .grid-mobile1{
        display: block;
    }
    .grid-mobile1{
        display: grid;
        margin: auto;
        width: 90%;
        grid-template-columns: auto auto;
        padding-top: 2rem;
        column-gap: 0.2rem;
        align-items: center;
    }
    .grid-mobile2, .grid-mobile3{
        display: grid;
        margin: auto;
        width: 90%;
        grid-template-columns: auto auto;
        padding-top: 1rem;
        column-gap: 0.2rem;
        align-items: center;
    }
    .grid-mobile4{
        display: grid;
        margin: auto;
        width: 90%;
        grid-template-columns: auto auto;
        padding-top: 1rem;
        column-gap: 0.2rem;
        align-items: center;
    }
    .grid-mobile5{
        display: grid;
        margin: auto;
        width: 90%;
        grid-template-columns: auto auto;
        padding-top: 1rem;
        column-gap: 0.2rem;
        align-items: center;
    }
    .grid-mobile6{
        display: grid;
        margin: auto;
        width: 90%;
        grid-template-columns: auto auto;
        padding-top: 1rem;
        padding-bottom: 8rem;
        column-gap: 0.2rem;
        align-items: center;
    }
    .col2 h6{
        font-size: 11px;
    }
    .col2 span{
        font-size: 12px;
        font-weight: 700;
    }
    .line{
        background-color: blueviolet;
        width: 0.2rem;
        height: 5rem;
        margin: 0 0 0.3rem 0;
    }
    .circle p{
        background-color: blueviolet;
        border-radius: 100px;
        padding: 0.2rem;
        width: 1rem;
        text-align: center;
    }
    .col2{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
    }
}
.sevensec{
    background-color: #150e28;
    border-top: 1px solid #ffffff2e;
}
.seven{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 40px;
    padding: 50px 0;
    align-items: center;
}
.seven-text{
    width: 70%;
    margin: auto;
}
.seven-text p{
    line-height: 1rem;
    padding: 1rem 0 0;
}
.seven-image{
    padding-top: 80px;
}
.seven-image img{
    width: 100%;
    max-width: 40rem;
}
.seven-grid p{
    padding: 0;
    line-height: 0.7rem;
}
@media (max-width: 700px) {
    .seven{
        flex-direction: column;
        row-gap: 3rem;
        text-align: center;
    }
    .seven img{
        max-width: 18rem;
    }
}
.eightsec{
    background-color: #150e28;
    border: 1px solid #ffffff2e;
}
.eight-content{
    width: 80%;
    margin: auto;
    padding-block: 4rem 6rem;
}
.eight-text{
    text-align: center;
    padding-bottom: 4rem;
}
.eight-image{
    border: 1px solid #D434FE;
    width: 65%;
    margin: auto;
    padding-block: 6rem;
    padding-inline: 8rem;
}
.eight-image img{
    max-width: 45rem;
    width: 100%;
}
@media (max-width: 700px) {
    .eight-image{
        padding: 2rem;
        width: 80%;
    }
}
.ninesec{
    background-color: #150e28;
    border-block: 1px solid #ffffff2e;
}
.nine{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 4rem;
    padding: 50px 0;
}
.nine-col{
    flex-basis: 60%;
}
.nine-col h4{
    padding-bottom: 1.5rem;
}
.nine-col p{
    padding-bottom: 3rem;
}
.nine-content{
    border: 2px solid blueviolet;
    border-radius: 10px;
    padding: 50px;
    background-color: #22193aa8;
}
.nine-content p{
    padding-top: 0;
    padding-bottom: 2rem;
}
.nine-content span{
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
}
.nine-content h5{
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 1.5rem;
}
.valid{
    display: flex;
    gap: 1rem;
    align-items: start;
}
.valid img{
    width: 20px;
    height: 20px;
}
.valid p{
    padding-bottom: 1rem;
}
.nine-col button{
    margin: 5px 110px 0;
}
.nine-col2 img{
    width: 400px;
}
.nine-col2{
    height: 50rem;
}
.fir{
    position: relative;
    left: 20%;
    top: 5%;
}
.nine-ig{
    position: relative;
    top: -32%;
    left: 18%;
}
@media (max-width: 700px) {
    .nine{
        flex-direction: column;
    }
    .nine{
        text-align: center;
        padding: 50px 0;
    }
    .nine-content{
        padding: 20px;
    }
    p{
        font-size: 10px;
        line-height: 0.9rem;
    }
    .nine-col button{
        margin: 5px 30px 0;
    }
    .nine-col2{
        height: 35rem;
    }
    .fir{
        top: 0;
        left: -2%;
    }
    .nine-ig{
        top: -40%;
        left: -3%;
    }
    .nine-col2 img{
        width: 280px;
    }
    .va, .valid{
        text-align: left;
    }
    .va h5{
        font-size: 12px;
    }
}
.footer{
    background-color: #150e28;
    border-block: 1px solid #ffffff2e;
}
.footer span{
    font-family: 'Montserrat', sans-serif;
}
.footer-content{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5rem;
    width: 80%;
    margin: auto;
    padding: 50px 0 30px;
}
h2{
    color: white;
    font-family: 'Clash Display', sans-serif;
}
.below{
    display: flex;
    padding-top: 4em;
    gap: 1rem;
    align-items: center;
}
.below p{
    border-right: 3px solid blueviolet;
    padding-top: 0;
    padding-right: 13px;
    line-height: 1rem;
}
.second-footer-content p{
    line-height: 0.7rem;
}
.below2{
    display: flex;
    align-items: end;
    gap: 1rem;
    padding-top: 1rem;
}
.below3{
    text-align: center;
    padding-bottom: 20px;
}
@media (max-width: 700px) {
    .footer-content{
        grid-template-columns: auto;
        row-gap: 4rem;
    }
    svg{
        width: 16px;
        height: 16px;
    }
    .below3{
        /* padding-bottom: 8rem; */
    }
}
/* -------------------------------------------Registration----------------------------------------------- */
nav ul li a span{
    background-image: linear-gradient(to right,#FE34B9, #D434FE, #903AFF);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.reg-mobile{
    display: none;
}
.reg{
    background-color: #150e28;
    width: 100%;
    min-height: 100vh;
}
.reg-sec{
    display: flex;
    margin: auto;
    width: 80%;
    align-items: center;
    column-gap: 4rem;
    padding: 5rem 0;
}
.reg-col{
    flex-basis: 60%;
    background-color: #22193aa8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    padding: 3rem;
    z-index: 1;
}
.reg-col h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: white;
    margin: 0.2rem 0 0.7rem 0;
}
.reg-text{
    display: flex;
    align-items: end;
    gap: 0.2rem;
}
.reg-text span{
    color: #D434FE;
}
.reg-form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0.2rem;
    column-gap: 1rem;
}
.reg-form span{
    line-height: 2rem
}
.reg-form span label{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: white;
    font-size: 12px;
}
.reg-form span input{
    width: 100%;
    max-width: 13rem;
    background-color: transparent;
    border: 2px solid #ffffff2e;
    padding: 10px 10px 10px;
    border-radius: 3px;
    outline: none;
    color: white;
}
.reg-form span select{
    width: 100%;
    background-color: transparent;
    border: 2px solid #ffffff2e;
    padding: 10px 10px 10px;
    border-radius: 3px;
    outline: none;
    color: white;
}
.reg-form span select option{
    padding: 5px;
}
::placeholder{
    color: white;
}
span h6{
    color: #ff26b9;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    margin: 0.8rem 0 0 0;
    font-size: 9px;
}
.reg-col button{
    width: 100%;
}
.reg-image img{
    width: 440px;
}
.check{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.8rem 0 1rem 0;
}
h6{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 10px;
    font-weight: 100;
}
.vect3{
    width: 570px;
    top: 0;
    opacity: 0.4;
}
.vect4{
    right: 0;
    top: 16%;
    opacity: 0.4;
}
@media (max-width: 700px) {
    .reg{
        display: none;
    }
    .reg-mobile{
        display: block;
        background-color: #150e28;
        padding: 2rem 2rem 10rem;
    }
    .sec-mobile{
        display: flex;
        flex-direction: column;
        margin: 3rem 2rem 0;
    }
    .reg-form{
        display: grid;
        grid-template-columns: auto auto;
        margin: 1rem 0 0;
    }
    .mobile-col1, .mobile-col2, .mobile-col3, .mobile-col4{
        grid-column: 1 / span 2;
    }
    p{
        font-size: 9px;
    }
    .mobile-col h5{
        font-size: 17px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    .reg-form span input{
        width: 100%;
        max-width: 15.7em;
    }
    ::placeholder{
        color: white;
    }
    .reg-mobile-text{
        display: flex;
        align-items: end;
        justify-content: center;
    }
    .reg-mobile-text span{
        color: #D434FE;
    }
    span h6{
        font-size: 7.6px;
    }
    .mobile-check{
        display: flex;
        align-items: start;
        gap: 1rem;
        margin: 0.7rem 0 0.7rem;
    }
    .mobile-col button{
        padding: 0.8rem 3rem 0.8rem;
        margin: 0 2.9rem 0;
    }
}
/* -------------------------------------contact page------------------------------------- */
.con{
    background-color: #150e28;
}
.mobile-contact{
    display: none;
}
.concol{
    display: grid;
    grid-template-columns: auto;
    row-gap: 1.5rem;
    flex-basis: 50%;
    background-color: #22193aa8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    padding: 4rem;
    z-index: 1;
}
.con-col{
    flex-basis: 60%;
}
.svg1{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 0.5rem;
}
span{
    color: #D434FE;
    font-family: 'Montserrat', sans-serif;
}
.concol input, .concol textarea{
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 7px;
    padding: 0.7rem;
    color: white;
}
::placeholder{
    color: white;
}
.concol button{
    width: 40%;
    margin: auto;
}
.con1{
    width: 600px;
    top: 1%;
    opacity: 0.3;
}
.con2{
    width: 16px;
    top: 21%;
    left: 11%;
}
.con3{
    width: 18px;
    top: 80%;
    left: 50%;
}
.con4{
    width: 16px;
    bottom: 0%;
    right: 5%;
}
.con5{
    width: 16px;
    top: 17%;
    right: 15%;
}
.con6{
    bottom: -9%;
    right: 0%;
    opacity: 0.3;
}
@media (max-width: 700px) {
    .con{
        display: none;
    }
    .mobile-contact{
        display: block;
        background-color: #150e28;
    }
    .contact-content{
        margin: auto;
        width: 80%;
        padding: 40px 0;
        line-height: 1.1rem;
    }
    .contact-content #next{
        width: 30px;
        height: 30px;
        padding-bottom: 30px;
    }
    h4 span{
        font-size: 16px;
    }
    .mobile-contact p{
        line-height: 0.8rem;
        padding-bottom: 1.3rem;
    }
    .mobile-con-col{
        display: grid;
        grid-template-columns: auto;
        row-gap: 1.2rem;
    }
    .mobile-con-col input, .mobile-con-col textarea{
        padding: 0.8rem;
        background-color: transparent;
        outline: none;
        border: 1px solid white;
        border-radius: 6px;
        color: white;
    }
    ::placeholder{
        color: white;
    }
    .mobile-con-col button{
        width: 40%;
        margin: auto;
    }
    .contact-footer{
        display: grid;
        row-gap: 0.1rem;
        text-align: center;
        padding-block: 2rem 6rem;
    }
    .contact-footer .svg1{
        width: 32%;
        margin: auto;
        column-gap: 0.5rem;
    }
}
